.list {
  padding: 8px;
  list-style: none;
}

.listItem:not(:last-child) {
  margin-bottom: 5px;
}

.button {
  width: 80px;
  cursor: pointer;
  padding: 2px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(240, 228, 228);
  margin-left: 16px;
}

.button:hover,
.button:focus {
  background-color: blue;
  color: white;
  border: none;
}
